@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@400;500&Open+Sans:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-lato {
	font-family: "Lato", sans-serif;
}

.font-family-roboto {
	font-family: "Roboto", sans-serif;
}

.font-family-roboto-condensed {
	font-family: "Roboto Condensed", sans-serif;
}

.font-family-open-sans {
	font-family: "Open Sans", sans-serif;
}

.banner-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.banner-image-text {
	text-shadow: 0px 2px 10px #424949;
}
